# Assignment 7 Part B (Dataset: staff_list_lrg.csv - from course module 7)

In [36]:
import pandas as pd
import numpy as np
df= pd.read_csv("C:\\Users\\taarunsinggh\\Desktop\\uforeports.csv")

## Three questions to be asked from data:

### 1. What are the total number of unique cities (state wise) where UFO sightings were reported?

In [32]:
unique_cities=df.groupby('State').nunique()

#Viewing only first 10 to avoid long data
unique_cities.head(10)

       City  Colors Reported  Shape Reported  State  Time
State
AK       59                7              16      1   112
AL      107                6              16      1   189
AR      111                8              18      1   200
AZ      154               13              20      1   656
CA      842               20              22      1  2424
CO      131               11              17      1   358
CT      115                7              17      1   221
Ca        1                0               1      1     1
DE       24                4              11      1    41
FL      299               14              19      1   798

### 2. Number of UFO sightings city wise?

In [33]:
city_sightings = df.City.value_counts() 

#Viewing only first 10 to avoid long data
city_sightings.head(10)

Seattle          187
New York City    161
Phoenix          137
Houston          108
Las Vegas        105
Portland         102
San Diego        101
Los Angeles       98
Chicago           73
Austin            62
Name: City, dtype: int64

### 3. What are the top 10 states for UFO sightings with their respective number of sightings?

In [35]:
state_sights = df.State.value_counts()
state_sights
print(state_sights[:10].sort_values(ascending=False))

CA    2529
WA    1322
TX    1027
NY     914
FL     837
AZ     738
OH     667
IL     613
PA     598
MI     591
Name: State, dtype: int64